<template>
    <tr>
        <td>{{ attendance.id }}</td>
        <td>{{ attendance.date_missed }}</td>
        <td v-show="showName">{{ attendance.memberships.first_name }} {{ attendance.memberships.last_name }}</td>
        <td>{{ attendance.current_classes.all_classes.name }}</td>
        <td>
            <date-picker :date="today" :option="pickerOptions" @change="updateMakeupDate"></date-picker>
        </td>
        <td>
            <select ref="makeupSelect" style="width: 250px">
                <option value="0">Null</option>
                <option
                        v-for="option in availableMakeups"
                        :selected="isSelected(option)"
                        :value="option.id">
                    {{ option.day }} | {{ option.start }}-{{ option.end }} | {{ option.all_classes.name }}
                </option>
            </select>
        </td>
    </tr>
</template>
<script>
    import datePicker from 'vue-datepicker';
    import moment from 'moment';
    import $http from 'axios';
    export default{
        props: ['attendance', 'currentClasses', 'showName'],
        computed: {
            momentMakeupDate(){
                return moment(this.attendance.makeup_date || []);
            },
            today() {
                return {
                    time: this.momentMakeupDate.format('MM/DD/YYYY')
                };
            },
            availableMakeups(){
                return _.filter(this.currentClasses, function (makeup) {
                    return makeup.day == this.momentMakeupDate.format('dddd');
                }.bind(this));
            }
        },
        data() {
            return {
                selected: false,
                pickerOptions: {
                    type: 'day',
                    format: 'MM/DD/YYYY',
                    week: ['Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa', 'Su'],
                    month: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                }
            }
        },
        methods: {
            updateMakeupDate(date) {
                var momentDate = moment(date, 'MM/DD/YYYY');
                this.attendance.makeup_date = momentDate.format('YYYY-MM-DD');
                $http.post(ajax_url + '/attendances/updateMakeupDay', {
                    attendance_id: this.attendance.id,
                    makeup_date: momentDate.format('YYYY-MM-DD')
                });
            },
            updatedMakeup(value) {
                $http.post(ajax_url + '/attendances/updateMakeup', {
                    attendance_id: this.attendance.id,
                    makeup_id: parseInt(value)
                });
            },
            isSelected(option) {
                if (this.attendance.class_makeup)
                    return this.attendance.class_makeup.id == option.id;
                return false;
            }
        },
        mounted(){
            var self = this;
            $(this.$refs.makeupSelect).select2({width: 'resolve'}).change(function (e) {
                self.updatedMakeup($(this).val());
            });
        },
        components: {datePicker}
    }
</script>