<template>
    <div>
        <!-- Vertical form modal -->
        <div class="modal fade">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h5 class="modal-title">Create a new Role</h5>
                    </div>
                    <div class="modal-body">
                        <table class="table table-striped table-hover" cellspacing="0" width="100%">
                            <thead>
                            <tr class="bg-slate-600">
                                <th>Name</th>
                                <th>Status</th>
                                <th>From</th>
                                <th>To</th>
                                <th>Update</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="teacher in activeTeachers">
                                <td>{{ teacher.employee.first_name }} {{ teacher.employee.last_name }}</td>
                                <td>
                                    <select v-model="teacher.status" class="form-control" name="statues" id="">
                                        <option>Teacher</option>
                                        <option>Assistant Teacher</option>
                                        <option>Inactive</option>
                                    </select>
                                </td>
                                <td>{{ teacher.from }}</td>
                                <td>{{ teacher.to ? teacher.to : 'Still teaching' }}</td>
                                <td>
                                    <button @click="updateTeacher(teacher)" type="button" class="btn btn-primary">
                                        Update
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td @click="showHistory = !showHistory"
                                    colspan="5"
                                    class="text-center"
                                    v-show="inactiveTeachers.length > 0"
                                >
                                    Show History <i class="fa fa-arrow-down"></i>
                                </td>
                            </tr>
                            <tr v-show="showHistory" v-for="teacher in inactiveTeachers">
                                <td>{{ teacher.employee.first_name }} {{ teacher.employee.last_name }}</td>
                                <td>
                                    <select v-model="teacher.status" class="form-control" name="statues" id="">
                                        <option>Teacher</option>
                                        <option>Assistant Teacher</option>
                                        <option>Inactive</option>
                                    </select>
                                </td>
                                <td>{{ teacher.from }}</td>
                                <td>{{ teacher.to ? teacher.to : 'Still teaching' }}</td>
                                <td>
                                    <button @click="updateTeacher(teacher)" type="button" class="btn btn-primary">
                                        Update
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <hr>

                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-sm-2">New teacher</label>
                                <div class="col-sm-10">
                                    <input type="text" v-model="teacherSearch" class="form-control">
                                </div>
                            </div>
                        </form>
                        <table v-show="teacherSearch != ''" class="table table-striped table-hover" cellspacing="0"
                               width="100%">
                            <thead>
                            <tr class="bg-slate-600">
                                <th>Name</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="teacher in filteredTeachers">
                                <td>{{ teacher.first_name }} {{ teacher.last_name }}</td>
                                <td>
                                    <select v-model="newEmployeeStatus" class="form-control">
                                        <option>Teacher</option>
                                        <option>Assistant Teacher</option>
                                    </select>
                                </td>
                                <td>
                                    <button class="btn btn-primary" @click="assignEmployee(teacher.id)">Assign</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
        <!-- /vertical form modal -->
    </div>
</template>
<script>
    import axios from 'axios';
    export default{
        data() {
            return {
                teachers: [],
                availableTeachers: [],
                teacherSearch: '',
                newEmployeeStatus: 'Teacher',
                showHistory: false,
                loadedTeachers: false,
                loadedEmployees: false,
            }
        },
        created: function () {
            eventHub.$on('open-teacher-mm', this.openModal);
        },
        beforeDestroy: function () {
            eventHub.$off('open-teacher-mm', this.openModal);
        },
        props: ['classId'],
        methods: {
            openModal(id){
                if(id != this.classId) return;
                var self = this;
                $(this.$el).find('.modal').modal('show');

                if(!self.loadedTeachers){
                    axios.post(ajax_url + '/teachers/getTeachers', {
                        class_id: this.classId
                    }).then(function (response) {
                        self.teachers = response.data;
                        self.loadedTeachers = true;
                    });
                }
                if(!self.loadedEmployees) {
                    axios.post(ajax_url + '/teachers/getEmployees', {}).then(function (response) {
                        self.availableTeachers = response.data;
                        self.loadedEmployees = true;
                    });
                }
            },
            assignEmployee(teacher_id) {
                var self = this;
                $(this.$el).find('.modal').modal('show');
                axios.post(ajax_url + '/teachers/assignEmployee', {
                    employee_id: teacher_id,
                    class_id: this.classId,
                    status: this.newEmployeeStatus
                }).then(function (response) {
                    self.teachers.push(response.data);
                });
            },
            updateTeacher(teacher) {
                var self = this;
                axios.post(ajax_url + '/teachers/updateEmployee', {
                    employee_id: teacher.id,
                    class_id: this.classId,
                    status: teacher.status
                }).then(function (response) {
                    //Teacher still active and add new teacher object to array
                    if (response.data.newTeacher)
                        self.teachers.push(response.data.newTeacher);

                    var index = _.findIndex(self.teachers, function (teacher) {
                        return teacher.id == response.data.teacher.id;
                    });
                    self.teachers.splice(index, 1, response.data.teacher);
                });
            }
        },
        computed: {
            activeTeachers(){
                return _.filter(this.teachers, function (teacher) {
                    return teacher.to ? false : true;
                });
            },
            inactiveTeachers(){
                return _.filter(this.teachers, function (teacher) {
                    return teacher.to ? true : false;
                });
            },
            notAssignedTeachers(){
                return _.differenceBy(this.availableTeachers, _.map(this.teachers, 'employee'), 'id');
            },
            filteredTeachers(){
                var self = this;
                return self.notAssignedTeachers.filter(function (employee) {
                    return Object.keys(employee).some(function (key) {
                        return String(employee[key]).indexOf(self.teacherSearch) !== -1;
                    });
                });
            }
        }
    }
</script>
