<template>
    <div>
        <div class="row  ml-10 mr-10 mb-10">
            <div class="col-md-10">
                <p>
                    This is a complete list of Contacts, Employees and Members that don't have an user account.
                    Filter them out and send invites as you wish.
                </p>
            </div>
            <div class="col-md-2">
                <button @click="inviteSelected" type="button" class="btn btn-block btn-primary pull-right">
                    <i v-show="loading" class="glyphicon gly-spin glyphicon-refresh"></i>
                    Invite Selected
                </button>
            </div>
        </div>
        <div class="row mb15">
            <div class="col-md-12">
                <v-client-table ref="invitesTable" :data="notActive" :columns="columns"
                                :options="options"></v-client-table>
            </div>
        </div>
    </div>
</template>

<script>
    export default{
        methods: {
            invite(account) {
                axios.post(ajax_url + '/invites/invite', {
                    _token: token,
                    account: account
                }).then(function (response) {
                    showNotification('Success', account.first_name + ' ' + account.last_name + ' successfully invited.', 'success');

                    if (!('invitation' in account))
                        Vue.set(account, 'invitation', [response.data]);
                    else
                        account.invitation.push(response.data);
                });
            },
            inviteSelected() {
                var toInvite = _.filter(this.notActive, {checked: true});
                var self = this;
                if (toInvite.length > 0) {
                    this.loading = true;
                    axios.post(ajax_url + '/invites/inviteMany', {
                        _token: token,
                        accounts: toInvite
                    }).then(function (response) {
                        showNotification('Success', toInvite.length + ' accounts successfully invited.', 'success');
                        _.each(toInvite, function (account) {

                            var key = account.id + account.type;
                            if (!('invitation' in account))
                                Vue.set(account, 'invitation', [response.data[key]]);
                            else
                                account.invitation.push(response.data[key]);

                            self.$refs.invitesTable.$refs[key].click();
                        });
                        self.loading = false;
                    });
                }
                else
                    showNotification('Warning', 'No items selected', 'warning');
            }
        },
        props: ['notActive'],
        created() {
            eventHub.$on('invite', this.invite);
        },
        data(){
            return {
                loading: false,
                columns: ['checkbox', 'type', 'email', 'first_name', 'last_name', 'label', 'button'],
                options: {
                    templates: {
                        checkbox(h, row) {

                            row = this.getInactive(row);

                            return h('input', {
                                attrs: {type: 'checkbox', name: 'select_all'},
                                class: 'styled',
                                on: {
                                    change(e) {
                                        Vue.set(row, 'checked', e.target.checked);
                                    }
                                },
                                ref: row.id + row.type
                            });
                        },
                        label(h, row) {
                            row = this.getInactive(row);

                            var status = 'Not Invited';
                            if (row.invitation)
                                _.each(row.invitation, function (val, key) {
                                    status = 'Invited';
                                    var diff = Date.parse(new Date()) - Date.parse(val.created_at);
                                    diff = diff / 3600000;
                                    if (diff > 38)
                                        status = 'Expired';
                                });

                            if (!('status' in row))
                                Vue.set(row, 'status', status);
                            else
                                row.status = status;

                            var cssClass = '';
                            switch (row.status) {
                                case 'Invited':
                                    cssClass = 'label-success';
                                    break;
                                case 'Not Invited':
                                    cssClass = 'label-primary';
                                    break;
                                case 'Expired':
                                    cssClass = 'label-warning';
                                    break;
                            }
                            return h('span', {class: 'label label-rounded ' + cssClass}, row.status);
                        },
                        button(h, row) {
                            row = this.getInactive(row);
                            return h('button', {
                                on: {
                                    click() {
                                        eventHub.$emit('invite', row);
                                    }
                                },
                                class: 'btn btn-xs btn-primary'
                            }, row.status != 'Not Invited' ? 'Re Invite' : 'Invite');
                        }
                    }
                }
            }
        }
    }
</script>