<template>
    <div>
        <div class="row ml-10 mr-10 mb-10">
            <div class="col-md-6"><p>Use the following table to give each roles access to a specific section of the
                software. You can also add additional roles by using the "Creat Role" button to the right.</p>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-2">
                <button type="button" class="btn btn-success btn-block" data-toggle="modal"
                        data-target="#add-role-modal">Create Role
                </button>
            </div>
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th class="bg-primary-400">Permissions</th>
                <th :colspan="permissions.length + 1" class="bg-primary">Roles</th>

            </tr>
            <tr>
                <th></th>
                <th v-for="role in roles" class="text-center">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-sm bg-slate-800">
                            {{ role.display_name }}
                        </button>
                        <button
                                @click="deleteRole(role)" class="btn btn-sm  btn-danger">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </div>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="permission in permissions">
                <td>{{ permission.display_name }}</td>
                <td v-for="role in roles" class="text-center">
                    <input
                            :checked="isChecked(role, permission)"
                            @change="updateInDB($event, permission, role)"
                            type="checkbox" class="styled" checked="checked">
                </td>
            </tr>
            </tbody>
        </table>

        <!-- add-role-modal -->
        <div id="add-role-modal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h5 class="modal-title">Create a new Role</h5>
                    </div>

                    <form action="#">
                        <div class="modal-body">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <label>Role Name</label>
                                        <input v-model="roleName" type="text" placeholder="Role Name"
                                               class="form-control">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <label>Role Description</label>
                                        <textarea v-model="roleDescription" placeholder="Role Description"
                                                  class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                            <button @click="storeRole()" type="button" class="btn btn-primary">Save Role</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- /add-role-modal -->
    </div>
</template>

<script>
    export default{
        props: ['roles', 'permissions'],
        data(){
            return {
                roleName: null,
                roleDescription: null,
            }
        },
        methods: {
            isChecked: function (role, permission) {
                return _.find(permission.roles, function (localRole) {
                    return localRole.id == role.id;
                });
            },
            updateInDB: function (e, permission, role) {
                var checked = e.target.checked;

                axios.post(ajax_url + '/roles/attachOrDetachPermission', {
                    _token: token,
                    'permission_id': permission.id,
                    'role_id': role.id,
                    attach: checked
                });
            },
            storeRole: function () {
                var self = this;
                axios.post(ajax_url + '/roles/store', {
                    _token: token,
                    display_name: self.roleName,
                    description: self.roleDescription
                }).then(function (response) {
                    var data = response.data;
                    self.roles.push(data);
                    showNotification('Succes', 'Role ' + data.display_name + ' successfully created.', 'success');
                    self.roleName = '';
                    self.roleDescription = '';
                    Vue.nextTick(function () {
                        $(".styled, .multiselect-container input").uniform({
                            radioClass: 'choice'
                        });
                    });

                }, function () {
                    showNotification('Error', 'Error creating role, please try again.', 'danger');
                });
                $('#add-role-modal').modal('hide');
            },
            deleteRole: function (role) {
                var self = this;
                swal(swalDefaults,
                        function (result) {
                            if (result) {
                                axios.delete(ajax_url + '/roles/' + role.id, {
                                    _token: token
                                }).then(function (response) {
                                    var key = _.findKey(self.roles, response.data);
                                    self.roles.splice(key, 1);
                                    showNotification('Succes', 'Role ' + response.data.display_name + ' successfully deleted.', 'success');

                                }, function () {
                                    showNotification('Error', 'Error deleting role, please try again.', 'danger');
                                });
                            }
                        });
            }
        }
    }
</script>