<template>
    <div>
        <div class="row  ml-10 mr-10 mb-10">
            <div class="col-md-11">
                <p>This is a complete list of accounts that have been setup to use the software.</p>
            </div>
        </div>
        <table class="table table-striped">
            <thead>
            <tr class="bg-slate-600">
                <th class="primary">User Name</th>
                <th class="primary">Email</th>
                <th class="primary">First Name</th>
                <th class="primary">Last Name</th>
                <th class="primary text-center">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="user in users">
                <td>{{ user.nick_name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td class="text-center">
                    <button @click="acivate(user)" type="button" class="btn btn-xs btn-primary">Edit</button>
                    <button @click="deleteUser(user)" type="button" class="btn btn-xs btn-danger">Delete</button>
                    <button @click="passwordModal(user)"type="button" class="btn btn-xs btn-success">Change Password</button>
                </td>
            </tr>

            </tbody>
        </table>

        <!-- edit-user-modal -->
        <div id="edit-user-modal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h5 class="modal-title">Edit User</h5>
                    </div>

                    <form action="#">
                        <div class="modal-body">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <label>First Name</label>
                                        <input v-model="editedUser.first_name" type="text" placeholder="First Name" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <label>Last Name</label>
                                        <input v-model="editedUser.last_name" type="text" placeholder="Last Name" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <label>Username</label>
                                        <input v-model="editedUser.nick_name" type="text" placeholder="Username" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <label>Email</label>
                                        <input v-model="editedUser.email" type="text" placeholder="Email" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                            <button @click="update" type="button" class="btn btn-primary">Save Changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- /edit-user-modal -->

        <!-- change-password-modal -->
        <div id="change-password-modal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h5 class="modal-title">Change User Password</h5>
                    </div>

                    <form action="#">
                        <div class="modal-body">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <label>Password Here</label>
                                        <input v-model="password" type="password" placeholder="Password Here" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <label>Repeat Password</label>
                                        <input v-model="password_confirmation" type="password" placeholder="Repeat Password" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                            <button @click="updatePassword" type="button" class="btn btn-primary">Change Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- /change-password-modal -->
    </div>
</template>

<script>
    export default{
        props:['users'],
        data(){
            return {
                editedUser: {},
                password: '',
                password_confirmation: '',
                passChangeUser: {}
            }
        },
        methods:{
            deleteUser(user) {
                var self = this;
                swal(swalDefaults,
                        function (result) {
                            if (result) {
                                axios.delete(ajax_url + '/users/' + user.id, {
                                    _token: token
                                }).then(function (response) {
                                    var data = response.data;
                                    var key = _.findKey(self.users, data);
                                    self.users.splice(key, 1);
                                    showNotification('Succes', 'User ' + data.first_name + ' ' + data.last_name + ' successfully deleted.', 'success');

                                }, function () {
                                    showNotification('Error', 'Error deleting user, please try again.', 'danger');
                                });
                            }
                        });
            },
            acivate: function (user) {
                this.editedUser = JSON.parse(JSON.stringify(user));
                $('#edit-user-modal').modal('show');
            },
            update: function () {
                var self = this;
                axios.put(ajax_url + '/users/' + self.editedUser.id, {
                    _token: token,
                    editedUser: self.editedUser
                }).then(function (response) {
                    var data = response.data;
                    showNotification('Success', data.nick_name + ' updated.', 'success');
                    var key = _.findKey(self.users, {id: data.id});
                    _.each(data, function (val, secondKey) {
                        self.users[key][secondKey] = val;
                    });

                });
                $('#edit-user-modal').modal('hide');

            },
            passwordModal: function (user) {
                this.passChangeUser = user;
                $('#change-password-modal').modal('show');

            },
            updatePassword: function () {
                if (this.password != this.password_confirmation) {
                    showNotification('Error', 'Password fileds don\'t match!', 'danger');
                }
                else {
                    var self = this;
                    axios.post(ajax_url + '/users/changePassword', {
                        _token: token,
                        password: self.password,
                        password_confirmation: self.password_confirmation,
                        user_id: self.passChangeUser.id
                    }).then(function () {
                        showNotification('Success', 'Password  updated.', 'success');
                        $('#change-password-modal').modal('hide');
                        self.password_confirmation = '';
                        self.password = '';
                    }, function (data) {
                        showNotification('Error', data.password[0], 'danger');
                    });
                }
            }
        }
    }
</script>