.VuePagination{
    text-align: center;

}
.VuePagination__pagination{
    margin: 20px 0;
}

#spy2 > div.panel-body.pn > a > button > div {
	width: 50px;
}

#main > div.page-container > div > div.content-wrapper > div.content > div.col-md-12 > div > div.panel-body.bg-slate-600 > div:nth-child(2) > a > button > div {
	width: 50px;
}

#createForm > div > table > tbody > .enrollTable {
	cursor: pointer;
}

#createForm > div > table > tbody > .enrolledMemberListDiv {
	display: none;
}

#spy2 > div.panel-body.pn > div:nth-child(3) > a > button > div {
	width: 50px;
}

#errors {
	display: none;
}

#steps-uid-0-p-1 > div > div > div:nth-child(10) {
	display: none;
}

textarea {
	resize: vertical;
}

#main > div.page-container > div > div.content-wrapper > div.content > div:nth-child(1) > div.valign-middle.display-inline-block{
	float: none;
}