.header ul {
	margin: 0;
	font-family: arial;
}

div.header {
	overflow: auto;
	padding-top: 20px;
	padding-bottom: 20px;
}

.header li {
	list-style-type: none;
	float: left;
}

.header li a {
	text-decoration:none;
	color: #263238;
	font-size: 17px;
}

.header li a:hover {
	color: #787878;
}

.header .red a {
	color: red;
}

.header .red a:hover {
	color: #ff8686;
}
.li{
	list-style-type: none;
	float: left;
	color: black !important;
	padding: 0 12px;
}