<template>
    <div>
        <div class="text-center" id="items">
            <h2><b>Step 2: Add invoice line items</b></h2>
            <p class="lead">Enter each item you would like added to the invoice</p>
        </div>

        <div class="panel panel-default">

            <div class="panel-heading">
                <h6 class="panel-title">Enter Item Details</h6>
                <div class="heading-elements">
                    <ul class="icons-list">
                        <li><a data-action="collapse"></a></li>
                    </ul>
                </div>
                <a class="heading-elements-toggle"><i class="icon-menu"></i></a></div>

            <div class="panel-body">

                <div class="row">

                    <div class="col-md-4">
                        <div class="form-group">
                            <select data-placeholder="Select Invoice Account" ref="selectAccount">
                                <option></option>
                                <option value="tuition">Tuition</option>
                                <option value="event">Event</option>
                                <option value="retail">Retail</option>
                                <option value="fee">Fees</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-8">
                        <div class="form-group">
                            <select data-placeholder="Invoice Sub-Account or Item Name/ID" ref="selectSubAccount">
                                <option></option>
                                <option value="AZ">
                                    Sub accounts are based off of the selection from the parent Invoice account
                                </option>
                                <option value="CO">58457</option>
                                <option value="ID">54875</option>
                                <option value="WY">54428</option>
                            </select>
                        </div>
                    </div>

                </div>

                <div class="form-group">
                    <select v-model="product.name" class="select-results-color bg-success" id="select-product"
                            tabindex="-1"
                            aria-hidden="true" data-placeholder="Item Name">
                        <option></option>
                        <option v-for="product in products" :value="product.id">{{ product.name }}</option>
                    </select>
                </div>
                <div class="form-group has-feedback has-feedback-left">
                        <textarea rows="5" cols="5" class="form-control" placeholder="Description"
                                  v-model="product.description"></textarea>
                    <div class="form-control-feedback">
                        <i class="icon-paragraph-justify2"></i>
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-3">
                        <div class="form-group has-feedback has-feedback-left">
                            <input v-model="product.quantity" type="text" class="form-control input-lg"
                                   placeholder="Quantity">
                            <div class="form-control-feedback">
                                <i class="icon-files-empty"></i>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group has-feedback has-feedback-left">
                            <input v-model="product.price" type="text" class="form-control input-lg"
                                   placeholder="Amount">
                            <div class="form-control-feedback">
                                <i class="icon-price-tag"></i>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <input v-model="product.discount" type="text" class="form-control input-lg"
                                       placeholder="Discount">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default dropdown-toggle"
                                            data-toggle="dropdown"><i class="icon-percent"> </i><span
                                            class="caret"></span></button>
                                    <ul style="min-width:30px;" class="dropdown-menu dropdown-menu-right">
                                        <li><a @click.prevent="chooseTaxType('percent')" href="#"><i
                                                class="icon-percent"></i></a></li>
                                        <li><a @click.prevent="chooseTaxType('amount')" href="#"><i
                                                class="icon-coin-dollar"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">

                        <div class="form-group">
                            <select v-model="product.tax"
                                    data-placeholder="Select Tax Rate"
                                    id="select-tax-rate"
                                    class="select select2-hidden-accessible select-size-lg"
                                    tabindex="-1"
                                    aria-hidden="true">
                                <option></option>
                                <option v-for="tax in taxes" value="tax.rate">{{ tax.rate }}</option>
                                <option value="WY">+Add Tax Rate</option>
                            </select>
                        </div>

                    </div>

                </div>

                <div class="text-right">
                    <button @click="addItem" type="button" class="btn btn-primary">Add Item</button>
                </div>

            </div>

        </div><!-- End Item Details Panel -->
    </div>
</template>

<script>
    import store from '../store/createInvoice';

    export default {
        computed: {
            product: function () {
                return store.state.product;
            },
            products: function () {
                return store.state.products;
            },
            taxes(){
                return store.state.taxes;
            },
            pickerOptions(){
                return pickerOptions;
            }
        },
        methods: {
            addItem(date) {
                store.state.invoice.invoice_date = date;
            }
        },
        mounted(){
            Vue.nextTick(function () {
                $(this.$refs.selectAccount).select2().on('select2:select', function () {
                    //update state
                });
                $(this.$refs.selectSubAccount).select2().on('select2:select', function () {
                    //update state
                });
            }.bind(this));
        }
    }
</script>