<template>
    <div class="row">
        <div class="col-md-12">

            <select-family></select-family>

            <add-line-item></add-line-item>

            <div class="panel panel-default">

                <div class="panel-heading">
                    <h6 class="panel-title text-center"><b>Invoice #58126 currently has 3 items</b></h6>
                    <div class="heading-elements">
                        <ul class="icons-list">
                            <li><a data-action="collapse"></a></li>
                        </ul>
                    </div>
                    <a class="heading-elements-toggle"><i class="icon-menu"></i></a></div>

                <div class="panel-body">

                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr class="bg-slate-600">
                                <th>Select</th>
                                <th>Account</th>
                                <th>Sub-Account</th>
                                <th>Item Name</th>
                                <th>Item Description</th>
                                <th>Quantity</th>
                                <th>Amount</th>
                                <th>Discount</th>
                                <th>Tax</th>
                                <th>Item Total</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="item in items">
                                <td>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" class="styled">
                                        </label>
                                    </div>
                                </td>
                                <td>{{ item.account }}</td>
                                <td></td>
                                <td>{{ item.name }}</td>
                                <td>{{ item.description }}</td>
                                <td>{{ item.quantity }}</td>
                                <td>{{ item.price }}</td>
                                <td>{{ item.discount }}</td>
                                <td>{{ item.tax }}</td>
                                <td>{{ itemTotal(item) }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="text-right">
                        <button type="button" class="btn btn-primary">Step 3: Review Invoice</button>
                    </div>

                </div>

            </div><!-- End Item Details Panel -->

            <div class="text-center">
                <h2><b>Step 3: Review all line items</b></h2>
                <p class="lead">Below is a preview of your invoice</p>
            </div>

            <!-- Invoice template -->
            <div class="panel panel-white">
                <div class="panel-heading">
                    <h6 class="panel-title">Invoice Preview</h6>
                    <div class="heading-elements">
                        <button type="button" class="btn btn-default btn-xs heading-btn"><i
                                class="icon-file-check position-left"></i> Save
                        </button>
                        <button v-show="false" type="button" class="btn btn-default btn-xs heading-btn"><i
                                class="icon-printer position-left"></i> Print
                        </button>
                    </div>
                </div>

                <div class="panel-body no-padding-bottom">
                    <div class="row">
                        <div class="col-md-6 content-group">
                            <img src="/uploads/logos/in-motion-logo.png" class="content-group mt-10" alt=""
                                 style="width: 120px;">
                            <ul class="list-condensed list-unstyled">
                                <li>4000 E Florida Ave #116</li>
                                <li>Hemet, CA 92544</li>
                                <li>(951) 251-4644</li>
                            </ul>
                        </div>

                        <div class="col-md-6 content-group">
                            <div class="invoice-details">
                                <h3 class="text-uppercase text-semibold">Invoice #58126</h3>
                                <ul class="list-condensed list-unstyled">
                                    1
                                    <li>
                                        Created by:
                                        <span class="text-semibold text-primary">
                                            {{ user.first_name }} {{ user.last_name }}
                                        </span>
                                    </li>
                                    <li>Status: <span class="text-semibold primary">Draft</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-4 content-group">
                            <div class="panel panel-flat border-top-lg border-top-primary">
                                <div class="panel-heading">
                                    <h6 class="panel-title"><span class="text-semibold">Invoice to:</h6>
                                </div>

                                <div class="panel-body">
                                    <ul class="list-condensed list-unstyled">
                                        <li>
                                            <h6>{{ account.accountable.primary_contact.first_name }}
                                                {{ account.accountable.primary_contact.last_name }}
                                            </h6>
                                        </li>
                                        <li>{{ account.accountable.primary_contact.address1 }}</li>
                                        <li>
                                            {{ account.accountable.primary_contact.city }},
                                            {{ account.accountable.primary_contact.state }}
                                            {{ account.accountable.primary_contact.zip }}
                                        </li>
                                        <li>USA</li>
                                        <li>Phone: {{ account.accountable.primary_contact.home_phone }}</li>
                                        <li><a href="#"> {{ account.accountable.primary_contact.email }}</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4"></div>

                        <div class="col-md-4 content-group">
                            <div class="panel panel-flat border-top-lg border-top-primary">
                                <div class="panel-heading">
                                    <h6 class="panel-title"><span class="text-semibold">Invoice details:</h6>
                                </div>
                                <div class="panel-body">
                                    <ul class="list-condensed list-unstyled invoice-payment-details">
                                        <li><b>Invoice Date:</b>{{ invoice.invoice_date }}</li>
                                        <li><b>Due Date:</b>{{ invoice.due_date }}</li>
                                        <li><b>Terms:</b> Due on receipt</li>
                                        <li><h6>Total Due: <span
                                                class="text-right text-semibold text-primary">$230.00</span>
                                        </h6></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div><!-- End Row -->

                </div>

                <div class="table-responsive">
                    <table class="table table-sm table-striped">
                        <thead>
                        <tr class="bg-slate-600">
                            <th>Select</th>
                            <th>Account</th>
                            <th>Sub-Account</th>
                            <th>Item Name</th>
                            <th>Item Description</th>
                            <th>Quantity</th>
                            <th>Amount</th>
                            <th>Discount</th>
                            <th>Tax</th>
                            <th>Item Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="item in items">
                            <td>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" class="styled">
                                    </label>
                                </div>
                            </td>
                            <td>{{ item.account }}</td>
                            <td></td>
                            <td>{{ item.name }}</td>
                            <td>{{ item.description }}</td>
                            <td>{{ item.quantity }}</td>
                            <td>{{ item.price }}</td>
                            <td>{{ discountAmount(item) }}</td>
                            <td>{{ item.tax }}</td>
                            <td>{{ itemTotal(item) }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="panel-body">
                    <div class="row invoice-payment">
                        <div class="col-sm-9">

                        </div>

                        <div class="col-sm-3">
                            <div class="content-group">

                                <div class="table-responsive no-border">
                                    <table class="table">
                                        <tbody>
                                        <tr>
                                            <th>Subtotal:</th>
                                            <td class="text-right">$56.04</td>
                                        </tr>
                                        <tr>
                                            <th>Payments:</th>
                                            <td class="text-right">(-) $0.00</td>
                                        </tr>
                                        <tr>
                                            <th>Tax: <span class="text-regular">(8%)</span></th>
                                            <td class="text-right">$1.03</td>
                                        </tr>
                                        <tr>
                                            <th>Total:</th>
                                            <td class="text-right">$230.00</td>
                                        </tr>
                                        <tr>
                                            <th>Balance Due:</th>
                                            <td class="text-right text-primary"><h5 class="text-semibold">$230.00</h5>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="text-right">
                                    <button v-show="false" type="button" class="btn bg-grey-400 btn-labeled"><b><i
                                            class="icon-printer"></i></b> Print Invoice
                                    </button>
                                    <button v-show="false" type="button" class="btn btn-primary btn-labeled"><b><i
                                            class="icon-paperplane"></i></b> Send invoice
                                    </button>
                                    <button type="button" class="btn btn-primary btn-labeled"><b><i
                                            class="icon-file-check"></i></b> Save invoice
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h6>Invoice Notes</h6>
                    <p class="text-muted">This information can be pulled from a note field above. Also needs to be
                        integrated into the note system as well.</p>
                </div>
            </div>
            <!-- /invoice template -->

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h6 class="panel-title">Enter a payment</h6>
                    <div class="heading-elements">
                        <ul class="icons-list">
                            <li><a data-action="collapse"></a></li>

                        </ul>
                    </div>
                </div>

                <div class="panel-body">
                    <div class="form-group">

                        <label class="radio-inline">
                            <input type="radio" name="radio-inline-left" class="styled" checked="checked">
                            Credit Card
                        </label>

                        <label class="radio-inline">
                            <input type="radio" name="radio-inline-left" class="styled">
                            Paypal
                        </label>

                        <label class="radio-inline">
                            <input type="radio" name="radio-inline-left" class="styled">
                            Check
                        </label>

                        <label class="radio-inline">
                            <input type="radio" name="radio-inline-left" class="styled">
                            Cash
                        </label>

                        <label class="radio-inline">
                            <input type="radio" name="radio-inline-left" class="styled">
                            Bill Pay
                        </label>

                    </div>
                </div>
            </div>


        </div><!-- End Col 12 -->
    </div><!-- End Row -->

</template>

<script>
    import SelectFamily from './SelectFamily.vue';
    import AddLineItem from './AddLineItem.vue';
    import store from '../store/createInvoice';

    window.store = store;
    export default {
        components: {
            SelectFamily,
            AddLineItem,
        },
        computed: {
            invoice(){
                return store.state.invoice;
            },
            user(){
                return user;
            },
            account(){
                return store.state.account;
            },
            taxType(){
                return store.state.taxType;
            },
            product(){
                return store.state.product;
            },
            accounts(){
                return store.state.accounts;
            },
            products(){
                return store.state.products;
            },
            taxes(){
                return store.state.taxes;
            },
            items(){
                return store.state.items;
            }
        },
        invoice: {
            invoice_date: moment().format('MMMM D, Y'),
            due_date: moment().format('MMMM D, Y')
        },
        methods: {
            addItem: function () {
                this.items.push(this.product);
            },
            itemTotal: function (item) {
                var priceQuantity = parseFloat(item.price) * parseFloat(item.quantity);
                var itemTotal = priceQuantity - (( parseFloat(item.discount) / 100 ) * priceQuantity);
                itemTotal = itemTotal + (( parseFloat(item.tax) / 100 ) * itemTotal);

                return itemTotal;
            },
            discountAmount: function (item) {
                var priceQuantity = parseFloat(item.price) * parseFloat(item.quantity);
                var itemTotal = priceQuantity - (( parseFloat(item.discount) / 100 ) * priceQuantity);
                itemTotal = itemTotal + (( parseFloat(item.tax) / 100 ) * itemTotal);

                return itemTotal;
            }
        },
        mounted(){

            //setup variables passed form server
            store.state.accounts.push.apply(store.state.accounts, accounts);
            store.state.products.push.apply(store.state.products, products);
            store.state.taxes.push.apply(store.state.taxes, taxes);

            var self = this;

            Vue.nextTick(function () {

                $('#select-tax-rate').select2().on('select2:select', function () {
                    self.product.tax = $(this).val();
                });

                $('#select-product').select2({
                    tags: true
                }).on('select2:select', function () {
                    var val = $(this).val();
                    if (!isNaN(val)) {
                        self.product = self.products.find(function (product) {
                            return product.id == val;
                        }.bind(this));
                    } else {
                        self.product.name = val;
                    }
                });
            });
        }
    }
</script>