<template>
    <div>
        <div class="text-center">
            <h2><b>Step 1: Select a Family Account</b></h2>
            <p class="lead">Adjust the invoice date and due date if needed</p>
        </div>

        <div class="panel panel-default">

            <div class="panel-heading">
                <h6 class="panel-title">Select Account</h6>
                <div class="heading-elements">
                    <ul class="icons-list">
                        <li><a data-action="collapse"></a></li>
                    </ul>
                </div>
                <a class="heading-elements-toggle"><i class="icon-menu"></i></a></div>

            <div class="panel-body">

                <div class="form-group">
                    <select class="select-results-color bg-success" tabindex="-1" ref="select"
                            aria-hidden="true" name="family">
                        <option value="0">Select an Account</option>
                        <option v-for="account in accounts" :value="account.id">{{ account.accountable.name }}</option>
                    </select>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Invoice Date </label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="icon-calendar22"></i></span>
                                <date-picker :date="invoice_date"
                                             :option="pickerOptions"
                                             @change="updateInvoiceDate">

                                </date-picker>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Due Date </label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="icon-calendar22"></i></span>
                                <date-picker :date="invoice_date"
                                             :option="pickerOptions"
                                             @change="updateDueDate">

                                </date-picker>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="text-right">
                    <a href="#items" class="btn btn-primary">Step 2: Add Items</a>
                </div>

            </div>

        </div>
    </div>
</template>
<script>
    import DatePicker from 'vue-datepicker';
    import {pickerOptions} from '../store/defaults';
    import store from '../store/createInvoice';

    export default {
        components: {
            DatePicker,
        },
        computed: {
            invoice_date: function () {
                return {time: store.state.invoice.invoice_date}
            },
            due_date: function () {
                return {time: store.state.invoice.due_date}
            },
            accounts(){
                return store.state.accounts;
            },
            pickerOptions(){
                return pickerOptions;
            }
        },
        methods: {
            updateInvoiceDate(date) {
                store.state.invoice.invoice_date = date;
            },
            updateDueDate(date) {
                store.state.invoice.due_date = date;
            },
        },
        mounted(){
            Vue.nextTick(function () {
                $(this.$refs.select).select2().on('select2:select', function () {
                    store.state.account = store.state.accounts.find(function (account) {
                        return account.id == $(this).val();
                    }.bind(this));
                });
            }.bind(this));
        }
    }
</script>